@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-albemarle: #ffdb00;
	--color-ettl: #26be3a;
	--color-hobler: #fa4242;
	--color-lambert: #4270fa;
	--color-theme-1: #a61618;
	--color-theme-2: #facec5;
}

body {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-size: large;
}

p {
	margin-top: 2px;
	margin-bottom: 2px;
}

svg.inline-svg {
	display: inline-block;
}

hr {
	margin: 20px 0;
	border: 2px solid #808080;
}

h1 {
	font-size: 2.5em;
	color: var(--color-theme-1);
}

h2 {
	margin-top: 8px;
	font-size: 2em;
}

h3 {
	margin-top: 8px;
	font-size: 1.5em;
}

.algerian {
	font-family: 'Algerian', sans-serif;
}